.contentBody {
    background-color: rgb(246, 246, 246);
}

.resultsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conventionContainer {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
}

.characterContainer {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.titleContainer {
    margin: 10px;
    background-color: rgb(98, 98, 247);
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
}

.searchList {
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 400px;
}

.search {

}