.characterPriority {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:x-large;
}

.character {
    text-decoration: none;
    color: blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
}

.refArt {
    max-width: 500px;
}