.contentBody {
    background-color: rgb(246, 246, 246);
}

.resultsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conventionContainer {
    padding: 5px;
    margin: 10px;
    background-color: white;
}

.column {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.columnTitle {
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.searchList {
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 400px;
}

.search {
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}