
.conventionContainer {
    display: inline-grid;
}

.column {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.columnTitle {
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.searchList {
    margin: 10px;
    max-width: 400px;
    grid-row-start: 1;
    grid-row-end: 2;
}

.search {
    padding-bottom: 30px;
}
