#links-container {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.contact-link:hover {
    opacity: 50%;
}

#footer {
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 3px;
    background-color: rgb(98, 98, 247);
}

#links-container {
    display: flex;
    justify-content: space-around;
    width: 75%;
}
