#links-container {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.contact-link {
    margin-right: 10px;
}

#footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 3px;
    background-color: rgb(98, 98, 247);
}

.contact-image {
    max-height: 50px;
    border-radius: 10px;
  }
