#links-container {
    padding: 7px;
    color: white;
    display: flex;
    justify-content: space-around;
}

#footer {
    background-color: rgb(98, 98, 247);
}

.contact-image {
    max-height: 50px;
    border-radius: 10px;
  }