.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30pt;
    word-spacing: 3px;
    align-items: center;
    
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    flex-direction: column;
    align-items:center;
    padding: 10px;
    margin: 5px;
}

.developerContent {
    display: flex;
    padding: 10px;
    margin: 5px;
    flex-direction: row;
    align-items: center;
}

.developerPhoto {
    max-width: 150px;
    border-radius: 150px;
    margin:7px;
}

.aboutContent {
    max-width: 90%;
}

Footer {
    position: relative;
    bottom: 0;
    height: 120px;
    width: 100%;
}