.homeLink {
    text-decoration: none;
    color: white;
}

.homeLink:hover {
    color: rgb(189, 189, 189);
}

.logo {
    max-width: 100px;
    border: 7px white solid;
    border-radius: 100px;
    margin: 10px;
    padding: 1px;
}

.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(98, 98, 247);
    padding: 5px;
    color: white;
    display: flex;
    top:0px;
    left:0px;
    right: 0px;
}

.titleContainer {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.linkContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLink {
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    color: white;
    font-weight:bold;
    border: 2px white solid;
    border-radius: 2px;
}

.navLink:hover {
    color: rgb(189, 189, 189);
    border: 2px rgb(189, 189, 189) solid;
}

.burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    z-index: 3;
}

.burger-bar {
    width: 4em;
    height: 0.5em;
    background-color: white;
    border-radius: 0.5em;
}

.menu {
    height: 100%;
    background-color: rgb(98, 98, 247);
    position: fixed;
    right:0;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 20vw;
}

.hidden {
    right: -50%;
    transition: ease-out .5s;
}

.visible {
    transition: ease-out 0.5s;
}